{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/profile.css' %}">
</head>
<body>
    <div class="profile">
        <img class="profile-picture" src="{{user.profile.avatar.url}}" alt="Profile Picture">
        <h2>{{ profile.user.username }}</h2>
        <div class="user-info">
            <p><strong>Posts</strong>: {{ total_posts }}</p>
            <p><strong>Followers</strong>: {{ follower_count }}</p>
            <p><strong>Following</strong>: {{ following_count }}</p>
        </div>
        <p class="bio">{{ profile.bio }}</p>
        <div class="user-stats">
            <p><strong>Joined</strong>: {{ user.date_joined }}</p>
            <p><strong>Location</strong>: {{ user.profile.location }}</p>
            <p><strong>Website</strong>: <a href="{{ user.userprofile.website }}">{{ user.userprofile.website }}</a></p>
        </div>
        <h3>Posts</h3>
        <div class="user-posts">
            {% for post in posts %}
                <img src="{{ post.post_image.url }}" alt="Post {{ forloop.counter }}">
                <ul>{{post.caption}}</ul>
            {% endfor %}
        </div>
    </div>
</body>
</html>
